<div class="vitals-text-container">
    <h4><%= link_to "New Project", new_admin_project_path %></h4>

</div>
<br><h1>Logs</h1>
<ul>
    <% @logs.each do |log| %>
        <li><strong></strong><%= log.company || log.ip %></strong> visited the <strong><%= log.page_visited %></strong> page on <%= log.created_at.localtime("-05:00").strftime("%m/%d/%Y at %l:%M%p") %> from <strong><%= log.location %></strong></li><br>
    <% end %>
</ul>
