<div class="vitals-text-container">
    <h4><%= link_to "New Project", new_admin_project_path %></h4>
</div>
<div class="vitals-text-container">
    <h4><%= link_to "Reset Switch", deadman_reset_path %> <small>(Last reset <%= time_ago_in_words Deadman.last_reset %> ago)</small></h4>
</div>
<div class="vitals-text-container">
  <%= form_with model: BlogPost.new, class: "form-container", local: true do |form| %>
    <%= form.label :title %>
    <%= form.text_field :title %>
    <%= form.label :slug %>
    <%= form.text_field :slug %><br>
    <%= form.label :url %>
    <%= form.text_field :url %>
    <%= form.submit class: "submit" %>
  <% end %>
</div>
<br><h1>Blog Posts</h1>
<ul>
    <% @blogposts.each do |post| %>
        <% full_url = "https://yechiel.me/blog/#{post.slug}" %>
        <li>
            <a href=<%= post.url %> target="_blank" ><%= post.title %></a>: <span id=<%= post.id %> ><%= full_url %></span>
            <button onclick="copyToClipboard('<%= full_url %>');" >Copy</button>
        </li>
    <% end %>
</ul>
<br><h1>Sessions</h1>
<ul>
    <% @visits.each do |visit| %>
        <li>
            <strong><%= link_to (visit.company || visit.ip), admin_visit_path(visit) %></strong> visited <%= pluralize visit.events.count, 'page' %> on <%= visit.started_at.in_time_zone("Eastern Time (US & Canada)").strftime("%m/%d/%Y at %l:%M%p") %> from <strong><%= visit.location %></strong>
        </li><br>
    <% end %>
</ul>

<script>
    function copyToClipboard(text) {
        var textarea = document.createElement("textarea");
        textarea.textContent = text;
        textarea.style.position = "fixed"; // Prevent scrolling to bottom of page in MS Edge.
        document.body.appendChild(textarea);
        textarea.select();
        document.execCommand("copy"); 

        document.body.removeChild(textarea);
    }
</script>
