<div class="vitals-text-container">
    <h4><%= link_to "New Project", new_admin_project_path %></h4>

</div>
<br><h1>Sessions</h1>
<ul>
    <% @visits.each do |visit| %>
        <li><strong></strong><%= link_to (visit.company || visit.ip), admin_visit_path(visit) %></strong> visited <%= pluralize visit.events.count, 'page' %> on <%= visit.started_at.localtime("-05:00").strftime("%m/%d/%Y at %l:%M%p") %> from <strong><%= visit.location %></strong></li><br>
    <% end %>
</ul>
