<div class="vitals-text-container">
    <h4>Session <%= @visit.company || @visit.ip %> </h4>
    <p>
        <strong></strong><%= @visit.company || @visit.ip %></strong> visited on <%= @visit.started_at.localtime("-05:00").strftime("%m/%d/%Y at %l:%M%p") %> from <strong><%= @visit.location %></strong>
    </p>
    <% @event_length = @events.size >= 1 ? ((@events.last.time - @events.first.time) / 60).ceil : 0 %>
    <p>
        The session lasted <%= pluralize @event_length, "minute" %>.
    </p>
    

</div>
<%= link_to "← Previous Session", admin_visit_path(@visit.previous) if @visit.previous %> | 
<%= link_to "All Sessions", admin_visits_path %> | 
<%= link_to "Next Session →", admin_visit_path(@visit.next) if @visit.next %>
<ul>
    <% @visit.attributes.each do |attr, value| %>
        <% if value %>
            <li><p><strong><%= attr.capitalize %>:</strong> <%= value %></p></li>
        <% end %>
    <% end %>
</ul>
<br><br><br>
<h4>Events:</h4>
<ul>
    <% @visit.events.order(time: :asc).each do |event| %>
        <li><p><%= event.time.in_time_zone("Eastern Time (US & Canada)").strftime("%m/%d/%Y at %l:%M:%S%P") %>: visited the <strong><%= event.properties['action']%></strong> page.</p></li>
    <% end %>
</ul>