<div class="vitals-text-container">

    <h2><strong>Contact Me:</strong></h2>
    <br>
    <h3 class="profile-contact">Blog:&nbsp;<%= link_to "Rabbi On Rails", blog_path, target: "_blank" %> | 
    Email:&nbsp;<%= mail_to SocialLinks.email %></h3>
    <h3 class="profile-contact">LinkedIn:&nbsp;<%= link_to "Yechiel Kalmenson", SocialLinks.linkedin, target: "_blank" %> | 
    Github:&nbsp;<%= link_to "achasveachas", SocialLinks.github, target: "_blank" %></h3>
    <h3 class="profile-contact">DEV.to:&nbsp;<%= link_to "yechielk", SocialLinks.devto, target: "_blank" %></h3>
    <br><br><br>
    <%= form_with url: "https://formspree.io/f/xrgoyvqp", class: "form-container", data: { remote: false } do |f| %>
        <%= f.text_field :name, placeholder: "Name:" %><br><br>
        <%= f.email_field :email, placeholder: "Email:" %><br><br>
        <%= f.text_area :message, placeholder: "Your Message:", rows: "10" %><br><br>
        <%= f.hidden_field :_next, value: "https://yechiel.me/contact" %>
        <%= f.hidden_field :_format, value: "plain" %>
        <%= f.hidden_field :_subject, value: "Yechiel Kalmenson Contact Form" %>
        <%= f.submit "Send", class: "submit" %>
    <% end %>
</div>

