<div class="vitals-text-container magic-form form-container">
    <h1>Here be magic!</h1>
    <p>
        To get started, think of a number between 1 and 100.
    </p><br><br>
    <%= label_tag "x3", "Divide your number into <strong>3</strong> using only whole numbers*.<br>How much is the remainder?".html_safe %>
    <%= number_field_tag "x3", nil, in: 0...3, size: 2, maxlength: 1, value: 0, data: {x: 3} %><br> 
    <%= label_tag "x5", "Now divide your number into <strong>5</strong> using only whole numbers*.<br>How much is the remainder?".html_safe %>
    <%= number_field_tag "x5", nil, in: 0...5, size: 2, maxlength: 1, value: 0, data: {x: 5} %><br>
    <%= label_tag "x7", "Now divide your number into <strong>7</strong> using only whole numbers*.<br>How much is the remainder?".html_safe %>
    <%= number_field_tag "x7", nil, in: 0...7, size: 2, maxlength: 1, value: 0, data: {x: 7} %><br>
    <%= submit_tag "Calculate", class: "submit", onclick: "calculate()" %>
    <br><br>
    <h3 id="result"></h3>
    <br><br>
    <p>
    *For example: if your number was 10. Dividing into 3 would leave a remainder of 1,<br>dividing into 5 would leave a remainder of 0, and dividing it into 7 would leave a remainder of 3.
    </p>
</div>