<div class="vitals-text-container">
    <h1 class="project-header">Projects I Enjoyed Creating</h1><br>
    <h4 class="project-subtitle">For more please check out my <%= link_to "GitHub Profile", SocialLinks.github, target: "_blank" %>.</h4>
    <h4><%= link_to "New Project", new_admin_project_path if is_admin? %></h4>

</div>

<div class="details-container">
    <% @projects.each do |project| %>
        <div class="experience-block details-block">
            <div class="experience-content content-holder">
                <div class="title-holder">
                    <h3><%= project.name %></h3>
                </div>
                <div class="description-holder">
                    <p>
                        <%= project.description.html_safe %><br><br>
                        <% if !project.demo_url.empty? %>
                            <strong>Project URL</strong> <%= link_to project.name, project.demo_url, target: "_blank" %><br>
                        <% end %>
                        <% if !project.demo_username.empty? && !project.demo_password.empty? %>
                            <small>(<strong>Demo Username:</strong> <%= project.demo_username %>, <strong>Password:</strong> <%= project.demo_password %>)</small><br>
                        <% end %>
                        <% if !project.repo.empty? %>
                            <strong>GitHub Repo:</strong> <%= link_to project.repo.split("/")[-1], project.repo, target: "_blank" %> <br>
                        <% end %>
                        <% if !project.blog_post.empty? %>
                            <strong>Blog Post:</strong> <%= link_to project.blog_title, project.blog_post, target: "_blank" %> <br>
                        <% end %>
                        <% if is_admin? %>
                            ___
                            <br>
                            <%= link_to "Edit", edit_admin_project_path(project) %>
                        <% end %>
                    </p>
                </div>
            </div>
        </div>
    <%end%>
    
</div>