<!DOCTYPE html>
<html>
  <head>
    <title><%= get_page_title %> - Yechiel Kalmenson</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag %>

    <!--
      ((//*/((((##%%###%%%%%%%%%%%%%%%%&&%%%%%%%%%%%%%#######%##((((((////
      %###########%%#%%%%%%%%%######%&%%%#%#/%%%%%%%%%%#####%%%#####((((((
      &&&&&&&&&%##%%%##%&&&%&%%%&%&&&&&%%%%##(//%%%%%%%######%%%##########
      (###%%#%###%###%%&%%&%%&&&%%%%&&%#%%%%##/(%%%%%%%#######%%%#########
      (*/((//(((((#####%&%@&&&&&%%%%%%%%%%%%%#(#%(//#%%%%%%#%%%%%%%%######
      ***////(######(((%&%&&&%##((#(/(%##((%(/,.,/(//(%%%%%%%%%%%%%%%###%%
      ***//*/#%%%%%%%##@&&&&&%#(##/(#(((***/#*,,../(//%%%%%%%%%%%%%%%%#%%%
      ,,*(///(##%%#(#%&&%%&&&%((///******,,,*,,...  .((%%%%%%%%%%%%%%%%%%%
      /*////***(#%%%%%%%&&&&%(////////*******,,,,,.. //#%&%%%%%%%%%%%%%%%%
      **//*****(#%%%%%&&&&&//////////********,,,,...%(%&&&%&%%%&%%%%%&&&&&
      *******/((#%%%&&&&&&&%((///////*********,,,....,#(%&&&&&%%%%%%%%%&%&
      ***/***/((##%&&&&&&&%#(///////////**********...,##%&&&&&&&&&&&&&&&%%
      **//***/((###%(%&&&@///######%%%%#(///(#%%%#*,#(%&&&&&&&&&&&&&&&%%%%
      /*///*//(((##%(##%&&#((((##%&%%%%#(*,(%####/,/((%&&&&&&&&&&&&&&&&%%%
      /*//////((##%%(/%%%&%((//(((#######%#*,/(#((/#,((#%&&&&&&&&&&&&&&&&&
      /////*/(((##%%#(#%%%%#(/////****//((//,..,**,..((#%&&&&&&&&&&&&&&&&&
      (((////(###%%%#((#%%%#(//////**/((///**,./,,. ./(#%&&&&&&&&&&&&%%%&%
      (((////###%%%%%%##%%%%#((((///(#####(///*/(/,..*(((%&&&&&%%####%%#%%
      (/(//*/(##%%%#%%%%%%&&%%####(####%%%%&%##(#(/*,/(((#####(((//**/#%%%
      ,**/***/(((#%%%%%%%&&&%%%%%#%%%%%&%%%%%%%#/((//((#%#((////(#%%%%%%%%
      ,*//***(###%%%%%%%%%&&%%%%%%%%##%##((/((%%#((((((##%&%%%%#((#%%##%%%
      ,*//**/(#%%&&%%%%%%&&&&&&&&&&%#((((###(((%%#(#(((((#%%%%%%%%%%%%###%
      *///**/(#%%%%%%%*#%&&&&&&&&&&%%((///(///(%%&%##(###%%&&&&&&&&&&&&&%%
      ,*//*/(%%%%%%%%*,/#%&&&&&&&&&&&%%#####(#####%%#####&&&&&&&%%%%%%%%%%
      */((/((#%%%%%%,.,,(%%&&&&&&&&&&&&&%%%%%#%%%######%%%##%%%%##########
      (##((((%%%###...,,**#%&&&&&&&&&&&&&&&&%%%%%##(###%%#((%%%%%%&&%%%%%%
      ##%(//(###(,...,,,,*/#%%&&&&&&&&&&&&&&&%%###(#(%%%(*,*(%&&&&&&&&&&&&
      ##%((//*........,,,,,*/#&&&&&&&&%&&&&&%%#%##(/#%%%(,,*#%&&&&&&&&&&&&
      ###(,.............,,,,,*/%%%&%%&%%%%%%%%%#(#(/(%&&(,,*#%%&&&&&&&&&&&
      *...................,,,,,/#%%%%%#%%%##%##(**(/##%%(**/##%%%%%%%%%%&%
      ....................,,//*(######((/(#(//*/,.,###%%%######///######%%
      ..........,........*******,*((//////*,****,    .*%%#((((############
      .................,*,,,,,,,,**,......,,...,,*,..    . ,#(((########%%

      To get in touch:
      Website: yechiel.me
      Blog: blog.yechiel.me
      Email: holler@yechiel.me
      Twitter: @yechielk
      GitHub: achasveachas
      LinkdIn: https://www.linkedin.com/in/yechiel-k
    -->

  </head>
  <body>
    <div class="main-wrapper profile">
      <header class="header">
        <nav>
          <h1><%= link_to_unless_current "About", root_path %> |
          <%= link_to_unless_current "Projects", projects_path %> |
          <%= link_to_unless_current "Contact", contact_path %> |
          <%= link_to_unless_current "Blog", blog_path, target: "_blank" %> |
          <%= link_to_unless_current "Resume", resume_path, target: "_blank" %></h1>
        </nav>
      </header>
      <div class="profile-banner" id="yechiel-k-cover"></div>
      <div class="vitals-container">
        <div class="profile-photo" id="yechiel-k-card"></div>
        <div class="social-icon-container">
          <a href="<%= SocialLinks.github %>" target="_blank"><%= image_tag "github.png", class: "social-icon" %></a>
          <a href="<%= SocialLinks.linkedin %>" target="_blank"><%= image_tag "linkedin.png", class: "social-icon" %></a>
          <a href="<%= SocialLinks.twitter %>" target="_blank"><%= image_tag "twitter.png", class: "social-icon" %></a>
          <a href="<%= blog_path %>" target="_blank"><%= image_tag "medium.png", class: "social-icon" %></a>
           <a href="<%= SocialLinks.devto %>" target="_blank"><%= image_tag "https://d2fltix0v2e0sb.cloudfront.net/dev-badge.svg", class: "social-icon" %></a>
        </div>
        <div class="vitals-text-container">
          <h1 class="profile-name">Yechiel Kalmenson</h1>
          <h2 class="profile-location"><strong>A.K.A. Rabbi on Rails</strong></h2>
          <h2 class="profile-location">Software Engineer</h2>
          <h2 class="profile-location">Ruby, Sinatra, Rails, PHP, SQL, JavaScript, jQuery, React/Redux</h2><br>
          <% if action_name == "index" %>
            <div class="profile-quote">
              “In life, there's no such thing as staying where you are. If you are not actively growing you are inevitably falling behind."<br>
                -The Lubavitcher Rebbe
            </div>
          <% end %>
        </div>
      </div>

      <%= yield %>

    </div>
    <footer class="footer">
      &copy; 2018 <%= link_to "Yechiel Kalmenson", root_path %>
      <p>
        <br>Sponsored by <%= link_to "Mr. Aberthon", "https://mraberthon.com/", target: "_blank" %>
      </p>
    </footer>
  </body>
</html>
