<!DOCTYPE html>
<html>
  <head>
    <title>PersonalSite</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="icon" type="image/png" href="/assets/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="/assets/favicon-16x16.png" sizes="16x16" />
    <link rel="icon" type="image/png" href="/assets/favicon.ico" sizes="16x16" />

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-103955291-1', 'auto');
      ga('send', 'pageview');

    </script>
    <!--
      ((//*/((((##%%###%%%%%%%%%%%%%%%%&&%%%%%%%%%%%%%#######%##((((((////
      %###########%%#%%%%%%%%%######%&%%%#%#/%%%%%%%%%%#####%%%#####((((((
      &&&&&&&&&%##%%%##%&&&%&%%%&%&&&&&%%%%##(//%%%%%%%######%%%##########
      (###%%#%###%###%%&%%&%%&&&%%%%&&%#%%%%##/(%%%%%%%#######%%%#########
      (*/((//(((((#####%&%@&&&&&%%%%%%%%%%%%%#(#%(//#%%%%%%#%%%%%%%%######
      ***////(######(((%&%&&&%##((#(/(%##((%(/,.,/(//(%%%%%%%%%%%%%%%###%%
      ***//*/#%%%%%%%##@&&&&&%#(##/(#(((***/#*,,../(//%%%%%%%%%%%%%%%%#%%%
      ,,*(///(##%%#(#%&&%%&&&%((///******,,,*,,...  .((%%%%%%%%%%%%%%%%%%%
      /*////***(#%%%%%%%&&&&%(////////*******,,,,,.. //#%&%%%%%%%%%%%%%%%%
      **//*****(#%%%%%&&&&&//////////********,,,,...%(%&&&%&%%%&%%%%%&&&&&
      *******/((#%%%&&&&&&&%((///////*********,,,....,#(%&&&&&%%%%%%%%%&%&
      ***/***/((##%&&&&&&&%#(///////////**********...,##%&&&&&&&&&&&&&&&%%
      **//***/((###%(%&&&@///######%%%%#(///(#%%%#*,#(%&&&&&&&&&&&&&&&%%%%
      /*///*//(((##%(##%&&#((((##%&%%%%#(*,(%####/,/((%&&&&&&&&&&&&&&&&%%%
      /*//////((##%%(/%%%&%((//(((#######%#*,/(#((/#,((#%&&&&&&&&&&&&&&&&&
      /////*/(((##%%#(#%%%%#(/////****//((//,..,**,..((#%&&&&&&&&&&&&&&&&&
      (((////(###%%%#((#%%%#(//////**/((///**,./,,. ./(#%&&&&&&&&&&&&%%%&%
      (((////###%%%%%%##%%%%#((((///(#####(///*/(/,..*(((%&&&&&%%####%%#%%
      (/(//*/(##%%%#%%%%%%&&%%####(####%%%%&%##(#(/*,/(((#####(((//**/#%%%
      ,**/***/(((#%%%%%%%&&&%%%%%#%%%%%&%%%%%%%#/((//((#%#((////(#%%%%%%%%
      ,*//***(###%%%%%%%%%&&%%%%%%%%##%##((/((%%#((((((##%&%%%%#((#%%##%%%
      ,*//**/(#%%&&%%%%%%&&&&&&&&&&%#((((###(((%%#(#(((((#%%%%%%%%%%%%###%
      *///**/(#%%%%%%%*#%&&&&&&&&&&%%((///(///(%%&%##(###%%&&&&&&&&&&&&&%%
      ,*//*/(%%%%%%%%*,/#%&&&&&&&&&&&%%#####(#####%%#####&&&&&&&%%%%%%%%%%
      */((/((#%%%%%%,.,,(%%&&&&&&&&&&&&&%%%%%#%%%######%%%##%%%%##########
      (##((((%%%###...,,**#%&&&&&&&&&&&&&&&&%%%%%##(###%%#((%%%%%%&&%%%%%%
      ##%(//(###(,...,,,,*/#%%&&&&&&&&&&&&&&&%%###(#(%%%(*,*(%&&&&&&&&&&&&
      ##%((//*........,,,,,*/#&&&&&&&&%&&&&&%%#%##(/#%%%(,,*#%&&&&&&&&&&&&
      ###(,.............,,,,,*/%%%&%%&%%%%%%%%%#(#(/(%&&(,,*#%%&&&&&&&&&&&
      *...................,,,,,/#%%%%%#%%%##%##(**(/##%%(**/##%%%%%%%%%%&%
      ....................,,//*(######((/(#(//*/,.,###%%%######///######%%
      ..........,........*******,*((//////*,****,    .*%%#((((############
      .................,*,,,,,,,,**,......,,...,,*,..    . ,#(((########%%

      To get in touch:
      Website: yechiel.me
      Blog: blog.yechiel.me
      Email: holler@yechiel.me
      Twitter: @yechielk
      GitHub: achasveachas
      LinkdIn: https://www.linkedin.com/in/yechiel-k
    -->

  </head>
  <body>
    <div class="main-wrapper profile">
      <header class="header">
        <nav>
          <h1><%= link_to_unless_current "About", root_path %> |
          <%= link_to_unless_current "Projects", projects_path %> |
          <%= link_to_unless_current "Contact", contact_path %> |
          <%= link_to_unless_current "Blog", blog_path, target: "_blank" %> |
          <%= link_to_unless_current "Resume", resume_path, target: "_blank" %></h1>
        </nav>
      </header>
      <div class="profile-banner" id="yechiel-k-cover"></div>
      <div class="vitals-container">
        <div class="profile-photo" id="yechiel-k-card"></div>
        <div class="social-icon-container">
          <a href="https://www.github.com/achasveachas" target="_blank"><img class="social-icon" src="/assets/github.png"/></a>
          <a href="https://www.linkedin.com/in/yechiel-k" target="_blank"><img class="social-icon" src="/assets/linkedin.png"/></a>
          <a href="https://twitter.com/yechielk" target="_blank"><img class="social-icon" src="/assets/twitter.png"/></a>
          <a href="/blog" target="_blank"><img class="social-icon" src="/assets/medium.png"/></a>
        </div>
        <div class="vitals-text-container">
          <h1 class="profile-name">Yechiel Kalmenson</h1>
          <h2 class="profile-location"><strong>A.K.A. Rabbi on Rails</strong></h2>
          <h2 class="profile-location">Full Stack Web Developer</h2>
          <h2 class="profile-location">Ruby, Sinatra, Rails, PHP, SQL, JavaScript, jQuery, React/Redux</h2><br>
        </div>
      </div>
    </div>
    <%= yield %>
    <footer class="footer">
      &copy; 2018 <%= link_to "Yechiel Kalmenson", root_path %>
      <p>
        <br>Sponsored by <a target="_blank" href="https://mraberthon.com/">Mr. Aberthon</a>
      </p>
    </footer>
  </body>
</html>
